@media screen and (min-width: 480px){
    header {
        display: flex;
        justify-content: space-around;
    }

    header nav ul{
        font-size: 0.95em;
        margin-right: -10px;
    }

    header h1{
        font-size: 2.1em;
        margin-left: -5px;
    }

    header nav ul a{
        color: rgb(182, 181, 181);
        text-decoration: none;
        margin-right: 5px;
    }

    /*Formulário Informações*/

    fieldset#campo1 input, select{
    height: 3em;
    width: 80%;
}

    fieldset#campo1 div.flutuaEsquerda{
        float: left;
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    fieldset#campo1 div.flutuaDireita{
        float: right;
        width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

     fieldset#campo1 div#clear{
        clear: both;
        width: 100%;
    }

    /*************************************/

    fieldset#campo2 #div-caixa .caixa {
    text-align: center;
    padding: 6vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    height: 20vh;
    width: 45%;
}
}

@media screen and (min-width: 769px) {

    header nav ul {
        font-size: 1.1em;
        margin-right: 0px;
    }

    header h1 {
        font-size: 2.5em;
        margin-left: 0px;
    }

    header nav ul a {
        color: rgb(182, 181, 181);
        text-decoration: none;
        margin-right: 10px;
    }

    /*Formulário Informações*/

    fieldset#campo1 input,
    select {
        height: 4.2em;
        width: 80%;
    }


    fieldset#campo1 input::placeholder {
    font-size: 1em;
    padding: 8px;
}

    fieldset#campo1 label{
    color: #777;
    font-size: 1.1em;
}

fieldset#campo1 h2 {
    font-size: 1.8em;
}

/*****************************************/

fieldset#campo2 h2 {
    color: rgb(67, 67, 67);
    text-align: center;
    margin-bottom: 0.8em;
    font-weight: 600;
    font-size: 1.8em;
}

fieldset#campo2 p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 5px;
}

fieldset#campo2 #div-caixa .caixa {
    text-align: center;
    padding: 6vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    height: 25vh;
    width: 45%;
}

fieldset#campo2 #div-caixa .caixa strong {
    font-size: 4em;
}

fieldset#campo2 #div-caixa .caixa p {
    font-size: 1.4em;
    margin-top: 15px;
}

/*******************************************/

fieldset#campo3 label {
    font-size: 1.2em;
}

fieldset#campo3 input.check {
    height: 1.4em;
    width: 1.4em;
}

fieldset#campo3 #botao {
    font-size: 1.3em;
}
}


@media screen and (min-width: 1210px) and (min-height: 740px) {
 
/**** GERAL ****/
body{
    background: #a948a7;
    padding: 2em;
}

section {
    background: #fdfdfd;
    height: 73vh;
}

/**** CABEÇALHO ****/

header {
    display: block;
    width: 100%;
    height: 17vh;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #fdfdfd;
}

header h1 {
        font-size: 3.5em;
        margin-left: 0px;
        margin-top: -10px;
        align-items: center;
        font-weight: bold;
    }

    header nav ul a {
        display: none;
    }

/**** FORMULÁRIO ****/

    form{
        padding: 2em;
    }

    fieldset#campo1{
        float: left;
        width: 48%;
        margin-top: -40px;
        height: 70vh;

    }

    div#parte2{
        float: right;
        width: 48%;
        margin-top: -40px;
    }

/**** LADO ESQUERDO ****/

fieldset#campo1 input,
  select {
      height: 3.4em;
      width: 80%;
  }

fieldset#campo1 {
    padding: 30px;
    line-height: 1.2em;
}

/**** LADO DIREITO ****/

fieldset#campo2 {
    width: 100%;
    margin: -24px auto;
    padding: 30px;
}

fieldset#campo2 #div-caixa .caixa{
    text-align: center;
    padding: 40px 20px;
    height: 20vh;
    width: 45%;
    background: #fff;
    cursor: pointer;
}

fieldset#campo2 #div-caixa .caixa strong{
    color: #a948a7;
    font-size: 4em;
}

fieldset#campo2 #div-caixa .caixa p {
    color: #777;
    font-size: 1em;
    margin-top: 7px;
}

fieldset#campo3{
    width: 100%;
    margin: 30px auto;
    padding: 20px 10px;
    line-height: 4vh;
    background: #fdfdfd;
    border: none;
}

fieldset#campo3 input.check{
    height: 1.2em;
    width: 1.2em;
    border-radius: 4px;
    border: 1px solid rgb(226, 226, 226);
}

fieldset#campo3 #botao{
    width: 100%;
    height: 5em;
    margin: 0 auto;
    background: #a948a7;
    color: #fff;
    border: 1px solid #a948a7;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.3em;
}
    
}